<template>
  <v-container fill-height>
    <v-layout 
      align-center 
      justify-center 
      column
    >
      <v-card>
        <v-card-text>
          <v-text-field 
            v-model="message"
            label="Comment"
          />

          <v-btn @click="publish">Publish</v-btn>

          <p
            v-for="comment in comments"
            :key="comment.id"
            @click="remove(comment)"
          >
            {{ comment.message }}
          </p>
        
        </v-card-text>

      </v-card>
      <v-card>

        <v-card-text>
          <input type="file" @change="upload">
          
          <a :href="link" target="_blank">{{ link }}</a>
        </v-card-text>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import { db, storage } from '@/firebase'
const commentsRef = db.collection('comments')

export default {
  data: () => ({
    message: '',
    comments: [],
    link: '',
  }),
  firestore: {
    comments: commentsRef,
  },
  methods: {
    async publish() {
      await commentsRef.add({
        message: this.message,
      })
      this.message = ''
    },
    async remove(comment) {
      await commentsRef.doc(comment.id).delete()
    },
    async upload(e) {
      const file = e.target.files[0]
      const ref = storage.ref().child(file.name)
      await ref.put(file)
      this.link = await ref.getDownloadURL()
    },
  },
}
</script>
