<template>
  <v-container fill-height>
    <v-layout 
      align-center 
      justify-center 
    >
      <v-btn 
        color="primary"
        large 
        @click="login"
      >Login with Google</v-btn>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  methods: {
    ...mapActions('root', ['login']),
  },
}
</script>
