<template>
  <v-app>
    <v-toolbar 
      app 
      color="primary" 
      dark
    >
      <v-toolbar-title>Vue boilerplate</v-toolbar-title>
      <v-spacer/>
      <template v-if="user">
        {{ user.displayName }}
        <v-btn v-if="user" @click="logout">logout</v-btn>
      </template>
    </v-toolbar>
    <v-content>
      <Home v-if="user"/>
      <Login v-else/>
    </v-content>
  </v-app>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Home from '@/components/views/Home'
import Login from '@/components/views/Login'

export default {
  components: { Home, Login },
  computed: {
    ...mapState('root', ['user']),
  },
  created() {
    this.$store.dispatch('root/init')
  },
  methods: {
    ...mapActions('root', ['logout']),
  },
}
</script>
